Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @bqi343, @eysbutno, @guodavid0418, @envyaims

Update cses-2134.mdx
  solutions/platinum/cses-2134.mdx
Owners: @bqi343

internal sol for boi2020 graph
  content/3_Silver/Graph_Traversal.problems.json
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

wrap axios request in try-catch block in parse.ts
  src/api/(parsers)/parse.ts
Owners: none

add proper json error message in fetch-metadata.ts
  src/api/fetch-metadata.ts
Owners: none

add codeforces api request and direct scraping fallback with browser headers in parse.ts
  src/api/(parsers)/parse.ts
Owners: none

Update solutions/gold/usaco-897.mdx
  solutions/gold/usaco-897.mdx
Owners: @envyaims

usaco 767 solution
  solutions/gold/usaco-767.mdx
Owners: @envyaims

update hld prob.json
  content/5_Plat/HLD.problems.json
  solutions/platinum/cses-2134.mdx
Owners: @bqi343

add codechef parser
  src/api/(parsers)/cc.ts
  src/api/(parsers)/parse.ts
Owners: none

add title
  src/api/(parsers)/cc.ts
Owners: none

...
  src/api/(parsers)/cc.ts
Owners: none

...
  src/api/(parsers)/cc.ts
Owners: none

upd game theory resources
  content/6_Advanced/Game_Theory.mdx
Owners: @bqi343

Modify two-pointer algorithm to use exclusive range
  content/3_Silver/Two_Pointers.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/baltic-20-graph.mdx
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

Update baltic-20-graph.mdx
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

update game theory module problems
  content/5_Plat/Conclusion.problems.json
  content/6_Advanced/Game_Theory.problems.json
Owners: @bqi343

Update Game_Theory.problems.json
  content/6_Advanced/Game_Theory.problems.json
Owners: @bqi343

add back IOIwari game with submission link
  content/6_Advanced/Game_Theory.problems.json
Owners: @bqi343

Update sumdiv.mdx
  solutions/gold/sumdiv.mdx
Owners: @envyaims

reorder resources
  content/6_Advanced/Game_Theory.mdx
Owners: @bqi343

check link
  src/api/(parsers)/cc.ts
Owners: none

not necessary
  src/api/(parsers)/cc.ts
Owners: none

change error code to 500 in fetch-metadata.ts
  src/api/fetch-metadata.ts
Owners: none

modify tryCodeforcesAPI function to handle contest problem URLs
  src/api/(parsers)/parse.ts
Owners: none

modify browser headers and remove blocking condition in fetchWithRetry function of parse.ts
  src/api/(parsers)/parse.ts
Owners: none

change let keyword to const to fix linter errors
  src/api/(parsers)/parse.ts
  src/components/ProblemsPage/ProblemHits.tsx
Owners: none

Update sumdiv.mdx
  solutions/gold/sumdiv.mdx
Owners: @envyaims

Remove Balkan Olympiad in Informatics link from the Olympiads page
  content/1_General/Olympiads.mdx
Owners: @bqi343

Update baltic-20-graph.mdx
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

Update baltic-20-graph.mdx
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

Update baltic-20-graph.mdx
  solutions/silver/baltic-20-graph.mdx
Owners: @eysbutno, @guodavid0418

Fix: Update broken link for Balkan Olympiad in Informatics
  content/1_General/Olympiads.mdx
  package-lock.json
  package.json
  yarn.lock
Owners: @bqi343

Update solutions/gold/usaco-897.mdx
  solutions/gold/usaco-897.mdx
Owners: @envyaims

revert changes to other files
  package.json
  yarn.lock
Owners: none

Delete package-lock.json
  package-lock.json
Owners: none

Update usaco-897.mdx
  solutions/gold/usaco-897.mdx
Owners: @envyaims

Update CSES problemset count from 300 to 400 (#2)
  content/1_General/Resources_CP.mdx
Owners: @bqi343

Remove Coursera course link from resources as it no longer exists
  content/1_General/Resources_CP.mdx
Owners: @bqi343

Add ekzlib resource to Resources_CP.mdx
  content/1_General/Resources_CP.mdx
Owners: @bqi343

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/content/ @bqi343
/solutions/ @bqi343
/content/1_General/ @bqi343
/solutions/general/ @bqi343
/content/2_Bronze/ @eysbutno @guodavid0418
/solutions/bronze/ @eysbutno @guodavid0418
/content/3_Silver/ @eysbutno @guodavid0418
/solutions/silver/ @eysbutno @guodavid0418
/content/4_Gold/ @envyaims
/solutions/gold/ @envyaims
/content/5_Plat/ @bqi343
/solutions/platinum/ @bqi343
/content/6_Advanced/ @bqi343
/solutions/advanced/ @bqi343
/content/extraProblems.json @envyaims
/content/team/ @eysbutno
