Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Added Solution
  solutions/cf-888F.mdx
Owners: none

Renamed File
  solutions/cf-888G.mdx
Owners: none

Added Problem to MST Module
  content/4_Gold/MST.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Fixed Time Complexity
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

spelling and stuff
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Removed Proof
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

pRoOf
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Add files via upload
  content/authors/images/jesse.png
Owners: none

Delete jesse.png
  content/authors/images/jesse.png
Owners: none

Add files via upload
  content/authors/images/jesse.png
Owners: none

Delete jesse.png
  content/authors/images/jesse.png
Owners: none

Add files via upload
  content/authors/images/jesse.png
Owners: none

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

autoformat, add periods
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Update Matrix_Expo.mdx
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

Update content/2_Bronze/Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

period
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

test 2
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

add quiz questions to correct file
  content/3_Silver/DFS.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

added more questions
  content/3_Silver/DFS.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

fixed small issue
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

remove faulty q
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

maybe fix build?
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

fix code indents?
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fixed Code
  solutions/usaco-624.mdx
Owners: none

Fixed Time Complexity
  solutions/usaco-624.mdx
Owners: none

Changed Spaces to Tabs
  solutions/cf-888G.mdx
Owners: none

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update solutions/cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update solutions/cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Apply suggestions from code review
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

add latex thing
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Syntax Changes
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Inline If Statements
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
