Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Revert "Merge pull request #2116 from vivianhan404/update-usaco-941"
  solutions/usaco-941-diagrams/tree_1.png
  solutions/usaco-941-diagrams/venn_1.png
  solutions/usaco-941-diagrams/venn_2.png
  solutions/usaco-941.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

forgot about n!
  solutions/usaco-571.mdx
Owners: none

add quiz for intro to greedy algos
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

change wording
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

changes that @nwatx suggested
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

DFS for Fence Planning
  solutions/usaco-944.mdx
Owners: none

Add graphs quiz
  content/2_Bronze/Intro_Graphs.mdx
  content/2_Bronze/assets/graphs_quiz_1.png
  content/2_Bronze/assets/graphs_quiz_2.png
  content/2_Bronze/assets/graphs_quiz_3.png
  content/2_Bronze/assets/graphs_quiz_4.png
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fix error
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

More fixes
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Change image format
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Reword answer choice
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

fix some wording
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

change wording on the last question
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update LineContainer.problems.json
  content/6_Advanced/LineContainer.problems.json
Owners: @dolphingarlic, @frodakcin

Update usaco-944.mdx
  solutions/usaco-944.mdx
Owners: none

Higher res images
  content/2_Bronze/assets/graphs_quiz_1.png
  content/2_Bronze/assets/graphs_quiz_2.png
  content/2_Bronze/assets/graphs_quiz_3.png
  content/2_Bronze/assets/graphs_quiz_4.png
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

tiny whitespace changes
  solutions/usaco-858.mdx
Owners: none

Update usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Revert changes
  solutions/usaco-988.mdx
Owners: none

Revert changes
  content/extraProblems.json
Owners: none

Revert changes
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Add myself to content authors
  README.md
Owners: none

Update contributors.ts
  content/authors/contributors.ts
Owners: none

Add files via upload
  content/authors/images/whatthedogdoing.jpg
Owners: none

Oops
  content/authors/images/whatthedogdoing.jpg
Owners: none

Add files via upload
  content/authors/images/ben.jpg
Owners: none

Update solutions/usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

Update solutions/usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

Update solutions/usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

Update solutions/usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

Variable n and m => made local to main
  solutions/usaco-858.mdx
Owners: none

fix build
  content/authors/contributors.ts
Owners: none

Update ac-IndependentSet.mdx
  solutions/ac-IndependentSet.mdx
Owners: none

change wording for question 1
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fixed xor typo
  content/6_Advanced/Interactive.mdx
Owners: @dolphingarlic, @frodakcin

Textify adjacency lists
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
