Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

formatting
  solutions/usaco-1181.mdx
Owners: none

add python solution for mooyo mooyo (860)
  solutions/usaco-860.mdx
Owners: none

Update usaco-860.mdx
  solutions/usaco-860.mdx
Owners: none

Update usaco-860.mdx
  solutions/usaco-860.mdx
Owners: none

add python solution for icy perimeter (895)
  solutions/usaco-895.mdx
Owners: none

Update usaco-895.mdx
  solutions/usaco-895.mdx
Owners: none

add python solution for mountain view (896)
  solutions/usaco-896.mdx
Owners: none

Update usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

Update usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

add Python solution for Lifeguards (786)
  solutions/usaco-786.mdx
Owners: none

Update usaco-786.mdx
  solutions/usaco-786.mdx
Owners: none

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

add python solution for Haybale Feast (767)
  solutions/usaco-767.mdx
Owners: none

add python solution for Haybale feast (767)
  solutions/usaco-767.mdx
Owners: none

Update usaco-767.mdx
  solutions/usaco-767.mdx
Owners: none

Update usaco-767.mdx
  solutions/usaco-767.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

wip: activate query on modal open
  src/components/Groups/GroupPage/PostExportModal.tsx
Owners: @thecodingwizard

Update usaco-786.mdx
  solutions/usaco-786.mdx
Owners: none

Update usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

Update usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update problemsList.ts
  problemsList.ts
Owners: none

add python solution for word processor (987)
  solutions/usaco-987.mdx
Owners: none

Update usaco-987.mdx
  solutions/usaco-987.mdx
Owners: none

Update solutions/usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

wrong problem name
  content/4_Gold/String_Hashing.problems.json
Owners: @dongliu0426, @andrewwangva

Update usaco-987.mdx
  solutions/usaco-987.mdx
Owners: none

Update usaco-896.mdx
  solutions/usaco-896.mdx
Owners: none

add python solution for rest stops (810)
  solutions/usaco-810.mdx
Owners: none

Update usaco-810.mdx
  solutions/usaco-810.mdx
Owners: none

add python solution for out of sorts (834)
  solutions/usaco-834.mdx
Owners: none

Update usaco-810.mdx
  solutions/usaco-810.mdx
Owners: none

Update usaco-834.mdx
  solutions/usaco-834.mdx
Owners: none

add python solution for Why Did the Cow Cross the Road II (715)
  solutions/usaco-715.mdx
Owners: none

Update usaco-715.mdx
  solutions/usaco-715.mdx
Owners: none

add python solution for My Cow Ate My Homework (762)
  content/extraProblems.json
  solutions/usaco-762.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva
