Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @bqi343, @eysbutno, @guodavid0418, @envyaims

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/content/ @bqi343
/solutions/ @bqi343
/content/1_General/ @bqi343
/solutions/general/ @bqi343
/content/2_Bronze/ @eysbutno @guodavid0418
/solutions/bronze/ @eysbutno @guodavid0418
/content/3_Silver/ @eysbutno @guodavid0418
/solutions/silver/ @eysbutno @guodavid0418
/content/4_Gold/ @envyaims
/solutions/gold/ @envyaims
/content/5_Plat/ @bqi343
/solutions/platinum/ @bqi343
/content/6_Advanced/ @bqi343
/solutions/advanced/ @bqi343
/content/extraProblems.json @envyaims
/content/team/ @eysbutno

formatting
  solutions/bronze/usaco-941.mdx
Owners: @eysbutno, @guodavid0418

formatting
  solutions/bronze/usaco-833.mdx
Owners: @eysbutno, @guodavid0418

formatting
  solutions/bronze/usaco-940.mdx
Owners: @eysbutno, @guodavid0418

update author
  solutions/bronze/usaco-916.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-833.mdx
  solutions/bronze/usaco-833.mdx
Owners: @eysbutno, @guodavid0418

writing sutff
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

add editorial language
  solutions/bronze/usaco-567.mdx
Owners: @eysbutno, @guodavid0418

add c++ solution
  solutions/bronze/usaco-567.mdx
Owners: @eysbutno, @guodavid0418

java sol
  solutions/bronze/usaco-567.mdx
Owners: @eysbutno, @guodavid0418

java sol
  solutions/bronze/usaco-567.mdx
Owners: @eysbutno, @guodavid0418

rut
  solutions/silver/usaco-1064.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-1064.mdx
  solutions/silver/usaco-1064.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-1064.mdx
  solutions/silver/usaco-1064.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-737.mdx
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

something like this
  solutions/bronze/usaco-833.mdx
Owners: @eysbutno, @guodavid0418

add header
  solutions/bronze/usaco-940.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/cses-1084.mdx
  solutions/silver/cses-1084.mdx
Owners: @eysbutno, @guodavid0418

some writing stuff
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

remove error throwing in usaco parser
  src/api/(parsers)/usaco.ts
Owners: none

update parse function to return data without errors
  src/api/(parsers)/parse.ts
Owners: none

Update usaco-737.mdx
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/bronze/usaco-737.mdx
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/bronze/usaco-737.mdx
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-737.mdx
  solutions/bronze/usaco-737.mdx
Owners: @eysbutno, @guodavid0418

Revert "med and mex explanation"
  content/4_Gold/Combinatorics.problems.json
  solutions/gold/cf-104520K.mdx
Owners: @envyaims
