Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

fix authors
  solutions/usaco-1061.mdx
Owners: none

update dependencies
  package.json
  src/README.md
  src/context/FirebaseContext.tsx
  src/pages/editor.tsx
  yarn.lock
Owners: @thecodingwizard

Update solutions/usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

above the fold
  src/components/Index/CPIProjectCard.tsx
  src/components/Index/Feature.tsx
  src/components/Index/SponsorCloud.tsx
  src/components/Logo.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
  src/components/elements/landing/AnimatedBlob.tsx
  src/components/elements/landing/GlowingRing.tsx
  src/components/elements/landing/GlowingText.tsx
  src/components/elements/landing/GradientText.tsx
  src/components/elements/landing/HighlightedText.tsx
  src/pages/editor.tsx
  src/pages/groups.tsx
  src/pages/index.tsx
  tailwind.config.js
Owners: @thecodingwizard

curated resources feature
  src/components/Index/Feature.tsx
  src/components/Index/features/ResourcesFeature.tsx
  src/components/elements/landing/HighlightedText.tsx
  src/pages/index.tsx
  src/styles/generalStyles.css
  tailwind.config.js
Owners: @thecodingwizard

optimize tailwind watch
  src/README.md
  tailwind.config.js
Owners: @thecodingwizard

add note about tailwind css incremental build performance
  .gitignore
  gatsby-browser.tsx
  src/README.md
  src/pages/index.tsx
Owners: @thecodingwizard

(wip) extensive problemsets
  src/components/Index/Feature.tsx
  src/pages/index.tsx
Owners: @thecodingwizard

more features
  src/assets/forum-screenshot.png
  src/components/Index/Feature.tsx
  src/components/Index/features/ProblemsetsFeature.tsx
  src/components/Index/features/ProgressTrackingFeature.tsx
  src/components/Index/features/ResourcesFeature.tsx
  src/pages/index.tsx
Owners: @thecodingwizard

Initialize saving system
  src/components/NotesEditor.tsx
  src/components/TakeProblemNotesModal.tsx
  src/components/markdown/ProblemsList/ProblemsList.tsx
  src/context/UserDataContext/UserDataContext.tsx
  src/context/UserDataContext/properties/userProgressOnProblems.ts
  src/models/activity.ts
  src/models/problem.ts
Owners: @thecodingwizard

trusted by; updated bg color
  src/components/Index/TrustedBy.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
  src/pages/index.tsx
Owners: @thecodingwizard

Fix range error
  src/components/NotesEditor.tsx
Owners: @thecodingwizard

code added from albert zhu's videos
  content/3_Silver/Binary_Search.problems.json
  content/3_Silver/Sorting_Custom.problems.json
  solutions/usaco-1015.mdx
  solutions/usaco-1038.mdx
  solutions/usaco-666.mdx
  solutions/usaco-715.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

move
  content/1_General/faq.mdx
Owners: @thecodingwizard

Update faq.mdx
  content/1_General/faq.mdx
Owners: @thecodingwizard

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

tried to explain about the "visited" vector
  solutions/usaco-380.mdx
Owners: none

Fix range error
  src/components/NotesEditor.tsx
Owners: @thecodingwizard

Update ordering.ts
  content/ordering.ts
Owners: none

Fix range error
  src/components/NotesEditor.tsx
Owners: @thecodingwizard

Create Faq.problems.json
  content/1_General/Faq.problems.json
Owners: @thecodingwizard

finish up homepage for desktop
  src/components/Index/CPIProjectCard.tsx
  src/components/Index/SponsorCloud.tsx
  src/components/elements/landing/GlowingText.tsx
  src/pages/index.tsx
  tailwind.config.js
Owners: @thecodingwizard

Update usaco-faq.tsx
  src/pages/usaco-faq.tsx
Owners: @thecodingwizard

fix???
  src/Faq.mdx
  src/pages/usaco-faq.tsx
Owners: @thecodingwizard

Update Faq.mdx
  src/Faq.mdx
Owners: @thecodingwizard

fix build temporarily
  gatsby-browser.tsx
Owners: none

Update Java solution usaco-941
  solutions/usaco-941.mdx
Owners: none

Update braces cses-1625
  solutions/cses-1625.mdx
Owners: none

Update spacing solutions/cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update usaco-941.mdx
  solutions/usaco-941.mdx
Owners: none

Update java solution usaco-810
  solutions/usaco-810.mdx
Owners: none

More problems and other stuff
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

mobile friendly homepage
  src/components/Index/CPIProjectCard.tsx
  src/components/Index/ContributorsSection.tsx
  src/components/Index/Feature.tsx
  src/components/Index/TrustedBy.tsx
  src/components/Index/features/ResourcesFeature.tsx
  src/pages/index.tsx
Owners: @thecodingwizard

uncomment editor / groups
  src/pages/editor.tsx
  src/pages/groups.tsx
Owners: @thecodingwizard

fix ts errors
  src/components/Groups/PostLeaderboardPage/PostLeaderboardPage.tsx
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/hooks/groups/useActiveGroup.tsx
  src/hooks/groups/useActivePostProblems.tsx
  src/hooks/groups/useGroupJoinLinks.ts
  src/hooks/groups/useUserGroups.tsx
  src/hooks/groups/useUserProblemSubmissions.ts
  src/hooks/useUserSolutionsForProblem.tsx
Owners: @thecodingwizard

ugly workaround for ts error
  src/hooks/groups/useGroupActions.ts
  src/hooks/groups/usePostActions.ts
Owners: @thecodingwizard

fix donate link; add link to cpi
  src/pages/index.tsx
Owners: @thecodingwizard

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
