Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

fix indents
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Texify
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Texify 2
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

add line break & missing step
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update solutions/ceoi-04-TwoSawmills
  solutions/ceoi-04-TwoSawmills
Owners: none

g(b)
  solutions/ceoi-04-TwoSawmills
Owners: none

replace p4
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Added Problem to Convex Hull Trick Module
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

Added Problem to Divide and Conquer DP Module
  content/5_Plat/DC-DP.problems.json
Owners: @dolphingarlic, @frodakcin

Added Solution
  solutions/cf-660F.mdx
Owners: none

removed the sz() i think
  solutions/cf-691E.mdx
Owners: none

Retemplatized Line Container
  solutions/ceoi-04-TwoSawmills
Owners: none

Rename ceoi-04-TwoSawmills to ceoi-04-TwoSawmills.mdx
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

Added Section Titles
  solutions/cf-660F.mdx
Owners: none

Added Problem to Matrix Exponentiation Module
  content/5_Plat/Matrix_Expo.problems.json
Owners: @dolphingarlic, @frodakcin

Added Solution
  solutions/cf-718C.mdx
Owners: none

Add Python/C++ Solution to Lemonade Line
  solutions/usaco-835.mdx
Owners: none

fix build
  content/5_Plat/Matrix_Expo.problems.json
Owners: @dolphingarlic, @frodakcin

forgot the comma
  content/5_Plat/Matrix_Expo.problems.json
Owners: @dolphingarlic, @frodakcin

sans
  solutions/usaco-835.mdx
Owners: none

Update authors.ts
  content/authors/authors.ts
Owners: none

Added Quiz to Prefix Sums Module
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Added Author
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

ci: remove assign to project workflow
  .github/workflows/assign_to_project.yml
Owners: none

fix: show sign in / search modal over navbar
  src/components/SignInModal.tsx
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

fix: show sign in / search modal over navbar (#2275)
  src/components/SignInModal.tsx
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

variable stuff
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Update Treaps.mdx
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

literally 1 char
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

vercel work
  solutions/cf-660F.mdx
Owners: none

remove "simple"
  solutions/usaco-835.mdx
Owners: none

flight discount fix
  solutions/cses-1195.mdx
Owners: none

shamelessly taking credit
  solutions/cses-1195.mdx
Owners: none

Update Treaps.mdx
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin
