Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

fix module progress dark mode for progress tracking
  src/components/Index/features/ProgressTrackingFeature.tsx
Owners: @thecodingwizard

fix accessibility for duplicated text
  src/components/elements/landing/GlowingText.tsx
Owners: @thecodingwizard

make text a little smaller
  src/pages/index.tsx
Owners: @thecodingwizard

Update usaco-810.mdx
  solutions/usaco-810.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

spaces around operators
  solutions/usaco-941.mdx
Owners: none

Add documentation cses-1625
  solutions/cses-1625.mdx
Owners: none

explanation on the arrays dx and dy
  solutions/usaco-380.mdx
Owners: none

Test API
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

Update indents cses-1625
  solutions/cses-1625.mdx
Owners: none

remove extra line
  solutions/usaco-941.mdx
Owners: none

Update usaco-1015.mdx
  solutions/usaco-1015.mdx
Owners: none

Update usaco-1038.mdx
  solutions/usaco-1038.mdx
Owners: none

Update usaco-715.mdx
  solutions/usaco-715.mdx
Owners: none

Update usaco-666.mdx
  solutions/usaco-666.mdx
Owners: none

Further tests
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

Fix key error.
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

fix safari gradient text bug
  src/components/elements/landing/GradientText.tsx
Owners: @thecodingwizard

fix transparency bug on safari
  src/components/Index/Feature.tsx
Owners: @thecodingwizard

Better image
  content/authors/images/ben.jpg
Owners: none

Delete ben.jpg
  content/authors/images/ben.jpg
Owners: none

Add files via upload
  content/authors/images/ben.jpg
Owners: none

Fix errors
  src/context/UserDataContext/UserDataContext.tsx
Owners: @thecodingwizard

formatted the triangles sol
  solutions/usaco-1015.mdx
Owners: none

formatted socdist
  solutions/usaco-1038.mdx
Owners: none

ok fixed the triangles thing
  solutions/usaco-1015.mdx
Owners: none

Update usaco-1015.mdx
  solutions/usaco-1015.mdx
Owners: none

Add placeholder
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
Owners: @thecodingwizard

fix undef
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
Owners: @thecodingwizard

fix undef
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
Owners: @thecodingwizard

fix undef
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

Fix render
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

Fix render
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
Owners: @thecodingwizard

Fix render
  src/components/markdown/ProblemsList/ProblemStatusCheckbox.tsx
Owners: @thecodingwizard

Curly braces
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fix render
  src/context/UserDataContext/properties/userProgressOnProblems.ts
Owners: @thecodingwizard

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

fixed maxcross
  solutions/usaco-715.mdx
Owners: none
