Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

expand if statemnt
  solutions/cf-862B.mdx
Owners: none

i tried so hard and got so far
  solutions/cfgym-102694C.mdx
Owners: none

but in the end it doesn't even matter
  solutions/cfgym-102694C.mdx
Owners: none

Update cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fix multiline comment
  solutions/usaco-861.mdx
Owners: none

Apply suggestions from code review
  content/1_General/Running_Code_Locally.mdx
Owners: @thecodingwizard

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update usaco-736.mdx
  solutions/usaco-736.mdx
Owners: none

Revised Last Question
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Fast_IO.mdx
  content/1_General/Fast_IO.mdx
Owners: @thecodingwizard

Update Adding_Solution.mdx
  content/1_General/Adding_Solution.mdx
Owners: @thecodingwizard

pragma note
  content/1_General/Adding_Solution.mdx
  content/6_Advanced/Vectorization.mdx
Owners: @thecodingwizard, @dolphingarlic, @frodakcin

Update Adding_Solution.mdx
  content/1_General/Adding_Solution.mdx
Owners: @thecodingwizard

Removed init Function
  solutions/cf-963D.mdx
Owners: none

Formatting Changes
  solutions/ceoi-09-Harbingers.mdx
Owners: none

Formatting Changes
  solutions/cf-718C.mdx
Owners: none

Changed Bounds and Added Link
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Changed Documentation
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

reword
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Changes to The Child and Sequence Solution, Syntax
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

November 4, 2021 12:37 PM
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

November 4, 2021 12:37 PM
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

November 4, 2021 12:58 PM
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

November 4, 2021 1:00 PM
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

November 4, 2021 1:08 PM
  content/5_Plat/Matrix_Expo.mdx
  content/5_Plat/Matrix_Expo.problems.json
Owners: @dolphingarlic, @frodakcin

November 4, 2021 1:47 PM
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

Update Matrix_Expo.mdx
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

test
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Somebody
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Fix problem id for fine dining sol
  solutions/usaco-861.mdx
Owners: none

fix code coloring
  solutions/usaco-1011.mdx
Owners: none

Fixed Build
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Changed Time Complexity and Grammar Changes
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Minor Changes
  content/5_Plat/Matrix_Expo.mdx
Owners: @dolphingarlic, @frodakcin

Create asdf.txt
  solutions/cf-888G/asdf.txt
Owners: none

Added Image Files
  solutions/cf-888G/double1.png
  solutions/cf-888G/double2.png
  solutions/cf-888G/single.png
Owners: none

Deleted Temporary File
  solutions/cf-888G/asdf.txt
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
