Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Minor Changes to Code
  solutions/cf-718C.mdx
Owners: none

Fixed Time Complexity
  solutions/cf-888G.mdx
Owners: none

Delete double1.png
  solutions/cf-888G/double1.png
Owners: none

Delete double2.png
  solutions/cf-888G/double2.png
Owners: none

Delete single.png
  solutions/cf-888G/single.png
Owners: none

Create temp
  solutions/cf-888G/temp
Owners: none

Add files via upload
  solutions/cf-888G/double1.png
  solutions/cf-888G/double2.png
  solutions/cf-888G/single.png
Owners: none

Delete temp
  solutions/cf-888G/temp
Owners: none

Minor Changes
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Add an alternative to CF-Predictor
  content/1_General/Contests.mdx
Owners: @thecodingwizard

add closing bracket for /cppsection
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Capitalization
  solutions/cf-963D.mdx
Owners: none

FIX BUILD
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Add String Matching to String Searching Module
  content/6_Advanced/String_Search.problems.json
Owners: @dolphingarlic, @frodakcin

Added Tags and Updated Solution Metadata
  content/6_Advanced/String_Search.problems.json
Owners: @dolphingarlic, @frodakcin

Added Comma
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

fixing technicalities
  content/3_Silver/DFS.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/3_Silver/Flood_Fill.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Added Braces to Module
  content/6_Advanced/String_Search.mdx
Owners: @dolphingarlic, @frodakcin

Renamed _pi to pi_s
  content/6_Advanced/String_Search.mdx
Owners: @dolphingarlic, @frodakcin

Minor Changes to Solution
  solutions/cses-1753.mdx
Owners: none

SIgn in with github button
  src/components/SignInModal.tsx
Owners: @thecodingwizard

Minor Changes
  solutions/cses-1753.mdx
Owners: none

Changed auto to vector<int>
  solutions/cses-1753.mdx
Owners: none

Two Pointers Quiz
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

exp for answer
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

space
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

clarify question + suggestions
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

exp for ans
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Spelling
  solutions/cf-888G.mdx
Owners: none

Updated Time Complexity
  solutions/cf-888G.mdx
Owners: none

Fixed Grammar
  solutions/cf-888G.mdx
Owners: none

changed io comment
  solutions/cfgym-101102D.mdx
Owners: none

Update solutions/usaco-696.mdx
  solutions/usaco-696.mdx
Owners: none

Update solutions/cses-1139.mdx
  solutions/cses-1139.mdx
Owners: none

java implem ent for usaco gold teamwork
  solutions/usaco-863.mdx
Owners: none

change usaco teamwork to internal sol
  content/4_Gold/Intro_DP.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

formatting and stuff
  solutions/usaco-863.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
