Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

spacing
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

spacingggg
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Knuth's optimization
  content/6_Advanced/DP_More.mdx
  content/6_Advanced/DP_More.problems.json
Owners: none

tttt python
  solutions/cses-1163.mdx
  solutions/usaco-831.mdx
Owners: none

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

remove
  solutions/usaco-831.mdx
Owners: none

Knuth's optimization article addition
  content/6_Advanced/DP_More.mdx
  content/6_Advanced/DP_More.problems.json
Owners: none

Removed unnecessary problem (added by self in previous commit)
  content/6_Advanced/DP_More.problems.json
Owners: none

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

Update Segtree_Beats.problems.json
  content/6_Advanced/Segtree_Beats.problems.json
Owners: none

Update DP_More.mdx
  content/6_Advanced/DP_More.mdx
Owners: none

Add missing semicolon for code to work
  solutions/cses-1753.mdx
Owners: none

Fix semicolon and uninitialized variable
  solutions/cses-1753.mdx
Owners: none

Add Python Solution for Counting Liars (1228)
  solutions/usaco-1228.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

LIS fix
  content/4_Gold/LIS.mdx
Owners: @dongliu0426, @andrewwangva

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update DP_More.mdx 2
  content/6_Advanced/DP_More.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Update usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

lol no need to credit me
  solutions/usaco-1228.mdx
Owners: none

tabs
  solutions/usaco-831.mdx
Owners: none

Adding Python Solution for Drought (1181)
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update DP_More.problems.json
  content/6_Advanced/DP_More.problems.json
Owners: none

Added link to solution for optimal bst
  content/6_Advanced/DP_More.problems.json
Owners: none

add easyfuncoding as sponsor
  src/assets/easyfuncoding.jpg
  src/components/Index/sponsor-logos/EasyFunCoding.tsx
  src/components/Index/sponsor-logos/Vercel.tsx
  src/components/Index/sponsor-logos/XCamp.tsx
  src/components/Index/sponsor-logos/index.ts
  src/pages/index.tsx
Owners: @thecodingwizard

dark mode image
  src/assets/easyfuncoding.jpg
  src/assets/easyfuncoding.png
  src/components/Index/sponsor-logos/EasyFunCoding.tsx
Owners: @thecodingwizard

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update DP_more.mdx 3
  content/6_Advanced/DP_More.mdx
Owners: none

Update DP_More.mdx
  content/6_Advanced/DP_More.mdx
  content/6_Advanced/DP_More.problems.json
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva
