Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

renamed stuff so vercel will work
  solutions/apio-10-Commando.mdx
Owners: none

Update apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Update apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Update Convex_Hull_Trick.problems.json
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

Update apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Update Count_Min.mdx
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

tiny change
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Update Count_Min.mdx
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Update Count_Min.mdx
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Remove live classes promo banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Add Python/clean up C++ code for Why Did the Cow Cross the Road III (Bronze)
  solutions/usaco-713.mdx
Owners: none

remove tickox
  solutions/usaco-713.mdx
Owners: none

suggestions
  solutions/usaco-713.mdx
Owners: none

For adding O(n) C++ solution with comments
  solutions/usaco-940.mdx
Owners: none

Create ceoi-04-TwoSawmills
  solutions/ceoi-04-TwoSawmills
Owners: none

Update Convex_Hull_Trick.problems.json
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

hide unpublished posts
  src/components/Groups/GroupPage/Feed.tsx
Owners: @thecodingwizard

Test fix
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/components/markdown/HTMLComponents.tsx
Owners: @thecodingwizard

Update usaco-1107.mdx
  solutions/usaco-1107.mdx
Owners: none

Update usaco-1107.mdx
  solutions/usaco-1107.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Converting tabs to spaces
  solutions/usaco-940.mdx
Owners: none

some other changes
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update solutions/usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Update usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

some more small changes
  solutions/usaco-940.mdx
Owners: none

actually tiny changes
  solutions/usaco-1107.mdx
Owners: none

literally just whitespace
  solutions/usaco-713.mdx
Owners: none

curTimerent -> current
  solutions/usaco-713.mdx
Owners: none

@caoash suggestions
  solutions/usaco-713.mdx
Owners: none

Update solutions/apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Update solutions/apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Create apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

spaces around operators
  solutions/usaco-941.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
