Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Add C++ Solution for Convention II (Silver)
  solutions/usaco-859.mdx
Owners: none

update metadata
  content/3_Silver/Intro_Ordered.problems.json
Owners: @frodakcin, @HarryWangATX, @nwatx

Added Quiz to Binary Search Module
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

whitespace stuff
  solutions/usaco-859.mdx
Owners: none

Removed Namespace
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

Update content/3_Silver/DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update usaco-859.mdx
  solutions/usaco-859.mdx
Owners: none

Update content/2_Bronze/Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_DS.mdx
  content/2_Bronze/Intro_DS.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Flood_Fill.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

move tree question to tree section
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

fix error in rect-geo
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

nathan.g suggestions
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

latex
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

intersection header
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

whitespace
  solutions/usaco-859.mdx
Owners: none

extend var names + explain var names
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

update names
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Specify T_MAX
  solutions/usaco-993.mdx
Owners: none

Change to kattio
  solutions/usaco-993.mdx
Owners: none

Fix typo
  solutions/usaco-993.mdx
Owners: none

Added 4th Question
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

texttt and some extra changes
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

sansification (indents)
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

caosh suggestions
  solutions/usaco-859.mdx
Owners: none

Update content/2_Bronze/Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

info block + area clarification
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Braces
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Commented Matrix Exponentiation Function
  solutions/cf-718C.mdx
Owners: none

Apply suggestions from code review
  solutions/cfgym-101102D.mdx
Owners: none

thanks
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
