Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

added an example
  solutions/usaco-1181.mdx
Owners: none

imp header
  solutions/usaco-1063.mdx
Owners: none

Made changes on explanation
  solutions/ac-MultipleOf2019.mdx
Owners: none

Clarity Stuff for ac-2019
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Cleaner AC-Multipleof2019
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

fix yt link
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

minor
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update usaco-1063.mdx
  solutions/usaco-1063.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

small changes (feel free to revert if you disagree)
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update Intro_Complete.problems.json
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update Greedy_Sorting.problems.json
  content/3_Silver/Greedy_Sorting.problems.json
Owners: @HarryWangATX, @nwatx

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update Func_Graphs.problems.json
  content/3_Silver/Func_Graphs.problems.json
Owners: @HarryWangATX, @nwatx

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Changed "However" part
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update contest_to_points.ts
  src/components/markdown/ProblemsList/DivisionList/contest_to_points.ts
Owners: @thecodingwizard

Add Solution 2
  content/5_Plat/Sweep_Line.mdx
  content/5_Plat/assets/setsolutionboundingbox.png
Owners: none

Update Sweep_Line.mdx
  content/5_Plat/Sweep_Line.mdx
Owners: none

separate sponsors into different tiers
  src/pages/index.tsx
Owners: @thecodingwizard

other -> in-kind
  src/pages/index.tsx
Owners: @thecodingwizard

Create usaco-1228
  solutions/usaco-1228
Owners: none

Update usaco-1228
  solutions/usaco-1228
Owners: none

Update usaco-1228
  solutions/usaco-1228
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none
