Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Update coi-16-torrent.mdx
  solutions/coi-16-torrent.mdx
Owners: none

Update baltic-10-candies.mdx
  solutions/baltic-10-candies.mdx
Owners: none

Update baltic-11-GrowingTrees.mdx
  solutions/baltic-11-GrowingTrees.mdx
Owners: none

Update baltic-12-mobile.mdx
  solutions/baltic-12-mobile.mdx
Owners: none

Update baltic-15-TugOfWar.mdx
  solutions/baltic-15-TugOfWar.mdx
Owners: none

Update baltic-15-editor.mdx
  solutions/baltic-15-editor.mdx
Owners: none

Update baltic-15-hacker.mdx
  solutions/baltic-15-hacker.mdx
Owners: none

Update baltic-16-park.mdx
  solutions/baltic-16-park.mdx
Owners: none

Update baltic-16-swap.mdx
  solutions/baltic-16-swap.mdx
Owners: none

Update baltic-17-railway.mdx
  solutions/baltic-17-railway.mdx
Owners: none

Update baltic-17-toll.mdx
  solutions/baltic-17-toll.mdx
Owners: none

Update baltic-19-necklace.mdx
  solutions/baltic-19-necklace.mdx
Owners: none

Update ceoi-12-JobScheduling.mdx
  solutions/ceoi-12-JobScheduling.mdx
Owners: none

Update ceoi-14-question.mdx
  solutions/ceoi-14-question.mdx
Owners: none

Update ceoi-18-GlobalWarming.mdx
  solutions/ceoi-18-GlobalWarming.mdx
Owners: none

Update ceoi18-clo.mdx
  solutions/ceoi18-clo.mdx
Owners: none

Update coci-19-dzumbus.mdx
  solutions/coci-19-dzumbus.mdx
Owners: none

Update coi-16-torrent.mdx
  solutions/coi-16-torrent.mdx
Owners: none

Update dmoj-COCIPeriodni.mdx
  solutions/dmoj-COCIPeriodni.mdx
Owners: none

Add solution links to OI problems (#2266)
  solutions/baltic-10-candies.mdx
  solutions/baltic-11-GrowingTrees.mdx
  solutions/baltic-12-mobile.mdx
  solutions/baltic-15-TugOfWar.mdx
  solutions/baltic-15-editor.mdx
  solutions/baltic-15-hacker.mdx
  solutions/baltic-16-park.mdx
  solutions/baltic-16-swap.mdx
  solutions/baltic-17-railway.mdx
  solutions/baltic-17-toll.mdx
  solutions/baltic-19-necklace.mdx
  solutions/ceoi-12-JobScheduling.mdx
  solutions/ceoi-14-question.mdx
  solutions/ceoi-18-GlobalWarming.mdx
  solutions/ceoi18-clo.mdx
  solutions/coci-19-dzumbus.mdx
  solutions/coi-16-torrent.mdx
  solutions/dmoj-COCIPeriodni.mdx
Owners: none

Variable Name Capitalization
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Formatting stuff
  solutions/cf-963D.mdx
Owners: none

more formatting stuff
  solutions/cf-963D.mdx
Owners: none

formatting stuff
  solutions/ceoi-09-Harbingers.mdx
Owners: none

stuff
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

added constant variables and stuff
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Made some changes so that the code works now
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

spaces to tabs and some other fixes
  solutions/cf-963D.mdx
Owners: none

Update TopNavigationBar.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Added <LanguageSection>
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

link application packet
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update solutions/cf-691E.mdx
  solutions/cf-691E.mdx
Owners: none

Update cf-691E.mdx
  solutions/cf-691E.mdx
Owners: none

Added New Solution
  solutions/usaco-624.mdx
Owners: none

Unformatted Code
  solutions/usaco-624.mdx
Owners: none

Removed () Operator
  solutions/usaco-624.mdx
Owners: none

removed !!
  solutions/cf-963D.mdx
Owners: none

stuff
  solutions/usaco-624.mdx
Owners: none

Prettified Code!
  .github/PULL_REQUEST_TEMPLATE.md
  gatsby-node.ts
  problemsList.ts
  src/Faq.mdx
  src/components/Editor/EditorOutput.tsx
  src/components/Groups/GroupPage/Feed.tsx
  src/components/Groups/ProblemPage/ProblemSubmissionInterface.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
  src/functions/src/groups/leave.ts
  src/functions/src/groups/removeMember.ts
  src/templates/solutionTemplate.tsx
Owners: @thecodingwizard

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
