Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

nathan.g
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

small wording
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Create cses-1753.mdx
  solutions/cses-1753.mdx
Owners: none

Update String_Search.mdx
  content/6_Advanced/String_Search.mdx
Owners: @dolphingarlic, @frodakcin

Apply suggestions from code review
  solutions/cfgym-101102D.mdx
Owners: none

Add KMP Example Images
  content/6_Advanced/kmp_example1.png
  content/6_Advanced/kmp_example2.png
Owners: @dolphingarlic, @frodakcin

Add KMP Algorithm
  content/6_Advanced/String_Search.mdx
Owners: @dolphingarlic, @frodakcin

Update solutions/cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update solutions/cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update solutions/cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

^
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

changing navbar z-index
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fixed Time Complexity
  solutions/cf-888G.mdx
Owners: none

Comment for loop
  solutions/usaco-993.mdx
Owners: none

small reword
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

another change to z-index
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

removed z-index
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Remove overhead of large value of hi as hi will be at most sum of all elements of vector
  solutions/cses-1085.mdx
Owners: none

Update cses-1085.mdx
  solutions/cses-1085.mdx
Owners: none

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

replace setup-dart action
  .github/workflows/test.yml
Owners: none

fix broken links
  content/1_General/Running_Code_Locally.mdx
  content/3_Silver/DFS.mdx
  content/3_Silver/Flood_Fill.mdx
  content/4_Gold/PURS.mdx
Owners: @thecodingwizard, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update solutions/usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

fix indentation
  solutions/usaco-892.mdx
Owners: none

move another quiz q from dfs
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

change a q
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/3_Silver/Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/3_Silver/Intro_Tree.mdx
  content/3_Silver/Intro_Tree.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/3_Silver/Flood_Fill.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Fixed Spacing
  solutions/cf-963D.mdx
Owners: none

Minor Changes to Code
  solutions/cf-660F.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
