Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

Prettified Code!
  content/4_Gold/Conclusion.problems.json
  content/authors/contributors.ts
Owners: @dongliu0426, @andrewwangva

Delete cf-161D.mdx
  solutions/cf-161D.mdx
Owners: none

Update DP_Trees.problems.json
  content/4_Gold/DP_Trees.problems.json
Owners: @dongliu0426, @andrewwangva

Change name on authorslist
  solutions/usaco-1083.mdx
Owners: none

changed my name on authorslist for consistency (#2651)
  content/4_Gold/Conclusion.problems.json
  content/authors/contributors.ts
  solutions/usaco-1083.mdx
Owners: @dongliu0426, @andrewwangva

Update usaco-526.mdx
  solutions/usaco-526.mdx
Owners: none

Update usaco-526.mdx
  solutions/usaco-526.mdx
Owners: none

Revert "Redesign"
  src/components/Index/AuthorsSection.tsx
  src/components/Index/CPIProjectCard.tsx
  src/components/Index/ContributorsSection.tsx
  src/components/Index/Feature.tsx
  src/components/Index/TrustedBy.tsx
  src/components/SectionsDropdownRedesigned.tsx
  src/components/TopNavigationBar/TopNavigationBarRedesigned.tsx
  src/components/TopNavigationBar/UserAvatarMenuRedesigned.tsx
  src/components/seo.tsx
  src/pages/index.tsx
  src/styles/generalStyles.css
  tailwind.config.js
Owners: @thecodingwizard

formatting stuff
  solutions/usaco-526.mdx
Owners: none

ahhh i didn't see this
  solutions/cf-1528A.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update solutions/usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

fixed cpp sol 2, added python sol 2
  solutions/usaco-894.mdx
Owners: none

changed quotes in python to double quotes
  solutions/usaco-894.mdx
Owners: none

added code snip
  solutions/usaco-894.mdx
Owners: none

add banner for us open workshop
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

wip: reformat assignment export code
  src/components/Groups/GroupPage/FeedItem.tsx
  src/components/Groups/GroupPage/PostExportModal.tsx
Owners: @thecodingwizard

just chap 14
  content/3_Silver/Intro_Tree.mdx
Owners: @HarryWangATX, @nwatx

cbarn sans
  solutions/usaco-616.mdx
Owners: none

Update solutions/usaco-616.mdx
  solutions/usaco-616.mdx
Owners: none

Update solutions/usaco-616.mdx
  solutions/usaco-616.mdx
Owners: none

Update String_Hashing.mdx
  content/4_Gold/String_Hashing.mdx
Owners: @dongliu0426, @andrewwangva

removed `assert`
  solutions/usaco-616.mdx
Owners: none

load balancing bronze
  solutions/usaco-617.mdx
Owners: none

java comments
  solutions/usaco-617.mdx
Owners: none

update copyright date
  src/pages/index.tsx
Owners: @thecodingwizard

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

Update usaco-898.mdx
  solutions/usaco-898.mdx
Owners: none

space
  solutions/usaco-898.mdx
Owners: none

traffic sans
  solutions/usaco-917.mdx
Owners: none

add usaco-1012
  solutions/usaco-1012.mdx
Owners: none

add usaco-1012
  content/extraProblems.json
Owners: none

Create usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva
