Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update DFS.problems.json
  content/3_Silver/DFS.problems.json
Owners: @HarryWangATX, @nwatx

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update Intro_Greedy.problems.json
  content/2_Bronze/Intro_Greedy.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Complete.problems.json
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Complete.problems.json
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Greedy_Sorting.problems.json
  content/3_Silver/Greedy_Sorting.problems.json
Owners: @HarryWangATX, @nwatx

Update Paths_Grids.problems.json
  content/4_Gold/Paths_Grids.problems.json
Owners: @dongliu0426, @andrewwangva

Update Greedy_Sorting.problems.json
  content/3_Silver/Greedy_Sorting.problems.json
Owners: @HarryWangATX, @nwatx

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update solutions/usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

open22 probs
  src/components/markdown/ProblemsList/DivisionList/README.md
  src/components/markdown/ProblemsList/DivisionList/div_to_probs.ts
  src/components/markdown/ProblemsList/DivisionList/gen_id_to_sol.py
  src/components/markdown/ProblemsList/DivisionList/id_to_sol.ts
Owners: @thecodingwizard

fix kinds
  content/2_Bronze/Intro_Complete.problems.json
  content/2_Bronze/Intro_Greedy.problems.json
  content/4_Gold/Paths_Grids.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683, @dongliu0426, @andrewwangva

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

grammar lol
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

remove that one period >:)
  solutions/usaco-1206.mdx
Owners: none

whitespace & others
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

make that huge sentence in explanation clearer
  solutions/usaco-1206.mdx
Owners: none

i cant engrish
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

sans proposals
  solutions/usaco-1206.mdx
Owners: none
