Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

suggestions
  solutions/usaco-673.mdx
Owners: none

Update usaco-673.mdx
  solutions/usaco-673.mdx
Owners: none

oop
  solutions/usaco-673.mdx
Owners: none

elaborate
  solutions/usaco-673.mdx
Owners: none

more issue addressing
  content/2_Bronze/Rect_Geo.mdx
  content/4_Gold/Stacks.problems.json
  content/6_Advanced/Lagrange.mdx
  solutions/usaco-1162.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683, @dongliu0426, @andrewwangva

Prettified Code!
  content/4_Gold/Stacks.problems.json
Owners: @dongliu0426, @andrewwangva

fix build
  content/extraProblems.json
Owners: none

change
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

minor formatting
  solutions/usaco-526.mdx
Owners: none

Add Python Solution for Kadane's Algorithm
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

suggestions
  solutions/usaco-673.mdx
Owners: none

adding python two pointer implementation
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Update More_Prefix_Sums.mdx
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

Update Two_Pointers.mdx
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Updated the mod equation at one of the quizes
  content/3_Silver/Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

Create cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update Binary_Jump.problems.json
  content/5_Plat/Binary_Jump.problems.json
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

add comment
  solutions/usaco-673.mdx
Owners: none

Update content/3_Silver/Two_Pointers.mdx
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Update content/3_Silver/More_Prefix_Sums.mdx
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

Update Two_Pointers.mdx
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Update More_Prefix_Sums.mdx
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

final(?) issue batch
  content/1_General/Adding_Solution.mdx
  content/4_Gold/String_Hashing.problems.json
  solutions/cses-1163.mdx
Owners: @thecodingwizard, @dongliu0426, @andrewwangva

Update solutions/cses-1163.mdx
  solutions/cses-1163.mdx
Owners: none

format + do some of sans' suggestions
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

format
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Update Two_Pointers.mdx
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

Update More_Prefix_Sums.mdx
  content/3_Silver/More_Prefix_Sums.mdx
Owners: @HarryWangATX, @nwatx

Update Two_Pointers.mdx
  content/3_Silver/Two_Pointers.mdx
Owners: @HarryWangATX, @nwatx

add cpp solution + editorial for circlecross (gold)
  solutions/usaco-719.mdx
Owners: none

Update cses-1163.mdx
  solutions/cses-1163.mdx
Owners: none

rename
  solutions/usaco-719.mdx
Owners: none

rename
  solutions/usaco-719.mdx
Owners: none

Update solutions/cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update solutions/cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update solutions/cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none
