Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Update usaco-916.mdx
  solutions/usaco-916.mdx
Owners: none

Update dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update usaco-964.mdx
  solutions/usaco-964.mdx
Owners: none

Update cf-1566B.mdx
  solutions/cf-1566B.mdx
Owners: none

cloud computing sol
  content/4_Gold/Knapsack_DP.problems.json
  solutions/ceoi18-clo.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Add internal sol to usaco modern art 2.
  solutions/usaco-743.mdx
Owners: none

Change to internal
  content/4_Gold/Stacks.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

tiny changes
  solutions/usaco-1114.mdx
Owners: none

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  solutions/ceoi18-clo.mdx
Owners: none

remove dollar signs
  solutions/ceoi18-clo.mdx
Owners: none

Update solutions/usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-963.mdx
  solutions/usaco-963.mdx
Owners: none

Update ceoi18-clo.mdx
  solutions/ceoi18-clo.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Update ceoi18-clo.mdx
  solutions/ceoi18-clo.mdx
Owners: none

Update usaco-963.mdx
  solutions/usaco-963.mdx
Owners: none

Update usaco-963.mdx
  solutions/usaco-963.mdx
Owners: none

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

Add live classes promo banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update approveFinancialAid.ts
  src/functions/src/cpiclasses/approveFinancialAid.ts
Owners: @thecodingwizard

refactor and add Jay
  src/functions/src/cpiclasses/approveFinancialAid.ts
  src/functions/src/cpiclasses/approveLiveFinancialAid.ts
  src/functions/src/cpiclasses/utils/permissions.ts
Owners: @thecodingwizard

Apply suggestions from code review
  solutions/usaco-963.mdx
Owners: none

Follow the word of sans + add kattio
  solutions/usaco-963.mdx
Owners: none

Update README.md
  src/functions/src/cpiclasses/README.md
Owners: @thecodingwizard

Update usaco-1114.mdx
  solutions/usaco-1114.mdx
Owners: none

feat: improve logging for classes functions
  src/functions/src/cpiclasses/processLiveRegistration.ts
  src/functions/src/cpiclasses/utils/updateLiveMailingList.ts
  src/functions/src/cpiclasses/utils/updateMailingList.ts
Owners: @thecodingwizard

improved some parts of the binsearch module
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Prettified Code!
  src/functions/src/cpiclasses/README.md
  src/functions/src/cpiclasses/processLiveRegistration.ts
Owners: @thecodingwizard

Apply suggestions from code review
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Count_Min.mdx
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Update DSU.problems.json
  content/4_Gold/DSU.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Create cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Update Complete_Rec.mdx
  content/2_Bronze/Complete_Rec.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
