Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

sans my man
  solutions/cses-1139.mdx
Owners: none

Update solutions/usaco-863.mdx
  solutions/usaco-863.mdx
Owners: none

tabs
  solutions/usaco-863.mdx
Owners: none

cur -> curr
  solutions/usaco-863.mdx
Owners: none

//
  solutions/usaco-863.mdx
Owners: none

fix
  solutions/usaco-863.mdx
Owners: none

test linking
  src/components/SignInModal.tsx
Owners: @thecodingwizard

thanks dustin
  solutions/cfgym-101102D.mdx
Owners: none

Added Problem to Module
  content/5_Plat/HLD.problems.json
Owners: @dolphingarlic, @frodakcin

Added Solution
  solutions/cf-1017G.mdx
Owners: none

grammar
  content/3_Silver/Two_Pointers.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/2_Bronze/Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
