Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

Update usaco-1232.mdx
  solutions/usaco-1232.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Delete usaco-1232.mdx
  solutions/usaco-1232.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Java implementation of Bull in a china shop
  solutions/usaco-640.mdx
Owners: none

init
  solutions/ioi-11-race.mdx
Owners: none

fixing the fixing
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

ok
  solutions/cf-588E.mdx
Owners: none

Update cf-588E.mdx
  solutions/cf-588E.mdx
Owners: none

issues
  solutions/usaco-736.mdx
Owners: none

whitespace
  solutions/usaco-736.mdx
Owners: none

Apply suggestions from code review
  solutions/usaco-736.mdx
Owners: none

tab
  solutions/usaco-736.mdx
Owners: none

Update solutions/usaco-809.mdx
  solutions/usaco-809.mdx
Owners: none

Update solutions/usaco-809.mdx
  solutions/usaco-809.mdx
Owners: none

Update solutions/usaco-809.mdx
  solutions/usaco-809.mdx
Owners: none

update gold bfs difficulties
  content/4_Gold/BFS.problems.json
Owners: @dongliu0426, @andrewwangva

god the c++ code is cursed
  solutions/usaco-987.mdx
Owners: none

change python solution for mixing milk
  content/2_Bronze/Simulation.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Simulation.mdx
  content/2_Bronze/Simulation.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

sort public submissions by language for user convienence.
  src/components/ProblemSolutions.tsx
Owners: @thecodingwizard

Create usaco-1232.mdx
  solutions/usaco-1232.mdx
Owners: none

Update usaco-1232.mdx
  solutions/usaco-1232.mdx
Owners: none

Update usaco-1232.mdx
  solutions/usaco-1232.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

add python implementation
  content/4_Gold/Divisibility.mdx
Owners: @dongliu0426, @andrewwangva

Update Divisibility.mdx
  content/4_Gold/Divisibility.mdx
Owners: @dongliu0426, @andrewwangva

Update Simulation.mdx
  content/2_Bronze/Simulation.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Simulation.mdx
  content/2_Bronze/Simulation.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update src/components/ProblemSolutions.tsx
  src/components/ProblemSolutions.tsx
Owners: @thecodingwizard

Update solutions/ioi-11-race.mdx
  solutions/ioi-11-race.mdx
Owners: none

Update solutions/ioi-11-race.mdx
  solutions/ioi-11-race.mdx
Owners: none

formatting
  solutions/ioi-11-race.mdx
Owners: none

formatting
  solutions/ioi-11-race.mdx
Owners: none

Update solutions/ioi-11-race.mdx
  solutions/ioi-11-race.mdx
Owners: none

made requested changes
  solutions/ioi-11-race.mdx
Owners: none

Update content/4_Gold/Divisibility.mdx
  content/4_Gold/Divisibility.mdx
Owners: @dongliu0426, @andrewwangva

Update Divisibility.mdx
  content/4_Gold/Divisibility.mdx
Owners: @dongliu0426, @andrewwangva

live classes banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard
