Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update solutions/cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Update solutions/cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Update solutions/cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Update solutions/cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Add Expected Knowledge
  content/1_General/Expected_Knowledge.mdx
Owners: @thecodingwizard

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update Treaps.mdx
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Add Python Solution to Daisy Chains (Bronze)
  solutions/usaco-1060.mdx
Owners: none

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

Update solutions/usaco-743.mdx
  solutions/usaco-743.mdx
Owners: none

sans
  solutions/usaco-1060.mdx
Owners: none

FIX
  solutions/usaco-743.mdx
Owners: none

literally a 1-character change
  solutions/usaco-743.mdx
Owners: none

remove extra comma
  solutions/usaco-1060.mdx
Owners: none

formatted lambdas
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

remove usacoId
  content/4_Gold/Stacks.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

fix contact form appearing under navbar
  src/components/ContactUsSlideover/SlideoverForm.tsx
  src/components/TopNavigationBar/UserAvatarMenu.tsx
Owners: @thecodingwizard

Update Segtree_Beats.problems.json
  content/6_Advanced/Segtree_Beats.problems.json
Owners: @dolphingarlic, @frodakcin

Update Segtree_Beats.mdx
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

fix everything
  gatsby-config.js
  src/context/FirebaseContext.tsx
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Prettified Code!
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Revert "Merge branch 'master' into cpinitiative-master"
  gatsby-config.js
  solutions/usaco-941-diagrams/tree_1.png
  solutions/usaco-941-diagrams/venn_1.png
  solutions/usaco-941-diagrams/venn_2.png
  solutions/usaco-941.mdx
  src/context/FirebaseContext.tsx
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Update useUserGroups.tsx
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Update gatsby-config.js
  gatsby-config.js
Owners: none

Update package.json
  package.json
Owners: none

Delete package-lock.json
  src/functions/package-lock.json
Owners: @thecodingwizard

Update useUserGroups.tsx
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Update Segtree_Beats.problems.json
  content/6_Advanced/Segtree_Beats.problems.json
Owners: @dolphingarlic, @frodakcin

trying to get vercel to cooperate
  content/6_Advanced/Segtree_Beats.problems.json
Owners: @dolphingarlic, @frodakcin

pls work
  content/6_Advanced/Segtree_Beats.problems.json
Owners: @dolphingarlic, @frodakcin

add yarn lock files back
  src/functions/yarn.lock
  yarn.lock
Owners: @thecodingwizard

only query once if admin comment
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Update useUserGroups.tsx
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

ts ignore
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

type script fix compilation error?jk
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

work pwease
  content/6_Advanced/Segtree_Beats.problems.json
Owners: @dolphingarlic, @frodakcin

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
