Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

Prettified Code!
  gatsby-config.js
Owners: none

add groups to navbar
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

ben is still content director
  content/authors/authors.ts
Owners: none

ben is still content director (#2172)
  content/authors/authors.ts
Owners: none

uncomment console log for permissions
  src/hooks/groups/useUserGroups.tsx
Owners: @thecodingwizard

Update cf-1398C.mdx
  solutions/cf-1398C.mdx
Owners: none

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update usaco-739.mdx
  solutions/usaco-739.mdx
Owners: none

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

Update usaco-892.mdx
  solutions/usaco-892.mdx
Owners: none

Update TopNavigationBar.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

fix margin
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update ac-IndependentSet.mdx
  solutions/ac-IndependentSet.mdx
Owners: none

Update ac-IndependentSet.mdx
  solutions/ac-IndependentSet.mdx
Owners: none

Python Implementation
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

suggestions
  solutions/sapo-14-genghis.mdx
Owners: none

Update Intro_DP.problems.json
  content/4_Gold/Intro_DP.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Create dmoj-Phidas.mdx
  solutions/dmoj-Phidas.mdx
Owners: none

Update and rename dmoj-Phidas.mdx to dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update cf-919D.mdx
  solutions/cf-919D.mdx
Owners: none

Update solutions/sapo-14-genghis.mdx
  solutions/sapo-14-genghis.mdx
Owners: none

Update Treaps.mdx
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Update TopNavigationBar.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update solutions/usaco-831.mdx
  solutions/usaco-831.mdx
Owners: none

Update solutions/ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update ac-MultipleOf2019.mdx
  solutions/ac-MultipleOf2019.mdx
Owners: none

Update TopNavigationBar.tsx
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update DP_Bitmasks.problems.json
  content/4_Gold/DP_Bitmasks.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update Sweep_Line.problems.json
  content/5_Plat/Sweep_Line.problems.json
Owners: @dolphingarlic, @frodakcin

Update Knapsack_DP.problems.json
  content/4_Gold/Knapsack_DP.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

small formatting stuff
  solutions/cf-919D.mdx
Owners: none

Update Paths_Grids.problems.json
  content/4_Gold/Paths_Grids.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update DP_Trees.problems.json
  content/4_Gold/DP_Trees.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update cf-702C.mdx
  solutions/cf-702C.mdx
Owners: none
