Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

fix typo
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Update apio-10-Commando.mdx
  solutions/apio-10-Commando.mdx
Owners: none

Follow the goose
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

added c++ support for family tree
  solutions/usaco-833.mdx
Owners: none

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

wait wrong solution lmao
  solutions/usaco-833.mdx
Owners: none

add a brace pair i forgor
  solutions/usaco-833.mdx
Owners: none

Update cf-963D.mdx
  solutions/cf-963D.mdx
Owners: none

whitespace stuff
  solutions/cf-963D.mdx
Owners: none

Update cf-963D.mdx
  solutions/cf-963D.mdx
Owners: none

Create ceoi-09-harbinger.mdx
  solutions/ceoi-09-harbinger.mdx
Owners: none

Update Convex_Hull_Trick.problems.json
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

removed comma
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

space to tabs and some other stuff
  solutions/ceoi-09-harbinger.mdx
Owners: none

Update ceoi-09-harbinger.mdx
  solutions/ceoi-09-harbinger.mdx
Owners: none

file name capitalization
  solutions/ceoi-09-Harbinger.mdx
Owners: none

Added Implicit Treaps
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Added Second Sample Problem
  content/6_Advanced/Treaps.problems.json
Owners: @dolphingarlic, @frodakcin

vercel work im begging you
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

Rename ceoi-09-Harbinger.mdx to ceoi-09-Harbingers.mdx
  solutions/ceoi-09-Harbingers.mdx
Owners: none

line container stuff
  content/6_Advanced/LineContainer.problems.json
Owners: @dolphingarlic, @frodakcin

vercel bad
  solutions/ceoi-09-Harbingers.mdx
Owners: none

vercel is dum
  content/6_Advanced/LineContainer.problems.json
Owners: @dolphingarlic, @frodakcin

pwease work
  solutions/ceoi-09-Harbingers.mdx
Owners: none

fix build (?)
  solutions/ceoi-09-Harbingers.mdx
Owners: none

Fix modal bug
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

Fix
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

Change inset to 10
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

Alter to padding
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

Increase padding
  src/components/TopNavigationBar/SearchModal.tsx
Owners: @thecodingwizard

Add code - will get around to adding the java parts soon
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Added Java code (I just wrote it in github's text part, so it may have errors)
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

whitespace stuff
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Spaces to Tabs
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Problem Solution Type Fix
  content/6_Advanced/Treaps.problems.json
Owners: @dolphingarlic, @frodakcin

Update usaco-644.mdx
  solutions/usaco-644.mdx
Owners: none

sansify
  solutions/usaco-644.mdx
Owners: none

Remove FastIO
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Remove FastIO Actual
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
