Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update content/2_Bronze/Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

use named constants
  solutions/usaco-644.mdx
Owners: none

change max-n
  solutions/usaco-644.mdx
Owners: none

Update solutions/usaco-833.mdx
  solutions/usaco-833.mdx
Owners: none

Spaces to Tabs
  solutions/ceoi-04-TwoSawmills
Owners: none

cApItAlIzAtIoN
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Move ans declaration
  solutions/usaco-719.mdx
Owners: none

Multiline comment
  solutions/usaco-719.mdx
Owners: none

change info to warning
  solutions/usaco-644.mdx
Owners: none

Remove styling on outer pre tag
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/styles/generalStyles.css
Owners: @thecodingwizard

Revert change
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/styles/generalStyles.css
Owners: @thecodingwizard

Remove styling on pre tag
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/styles/generalStyles.css
Owners: @thecodingwizard

Fix background color
  src/styles/generalStyles.css
Owners: @thecodingwizard

Update react markdown
  package.json
  yarn.lock
Owners: none

Add ts expect error
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Add camelcase
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Fix GroupsCodeBlock params
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Update content/6_Advanced/Segtree_Beats.mdx
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Update content/6_Advanced/Segtree_Beats.mdx
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Sans
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Fix videos font color
  src/styles/generalStyles.css
Owners: @thecodingwizard

stuff
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

More bugfixes
  src/components/Groups/Feedback.tsx
  src/styles/generalStyles.css
Owners: @thecodingwizard

Update Segtree_Beats.mdx
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Hide next arrow when quiz problem not graded yet
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

Fix intro graphs quiz typo
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Move `ans`
  solutions/usaco-719.mdx
Owners: none

made sos tags consistent
  content/6_Advanced/DP_SOS.problems.json
  problemsList.ts
Owners: @dolphingarlic, @frodakcin

added a problem of my own
  content/4_Gold/DP_Trees.problems.json
  solutions/cf-440D.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Create cf-691E.mdx
  solutions/cf-691E.mdx
Owners: none

Update cf-691E.mdx
  solutions/cf-691E.mdx
Owners: none

Fix inline render
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

->internal
  content/5_Plat/Matrix_Expo.problems.json
Owners: @dolphingarlic, @frodakcin

Add curly braces
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

it is done.
  solutions/cf-691E.mdx
Owners: none

Remove empty line
  solutions/usaco-719.mdx
Owners: none

Followed Ben's suggestions
  solutions/ceoi-04-TwoSawmills
Owners: none

Added link to linecontainer module
  solutions/ceoi-04-TwoSawmills
Owners: none

Added time complexity and Link to LiChao Tree
  solutions/ceoi-09-Harbingers.mdx
Owners: none
