Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Create cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Fix Formatting
  solutions/cf-1593A.mdx
Owners: none

Fix Formatting Again
  solutions/cf-1593A.mdx
Owners: none

Fix Formatting Yet Again
  solutions/cf-1593A.mdx
Owners: none

Update cses-1750.mdx
  solutions/cses-1750.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

lemme just
  solutions/cses-1750.mdx
Owners: none

Apply suggestions from code review
  solutions/cses-1195.mdx
Owners: none

i'm actually bad
  solutions/cses-1195.mdx
Owners: none

nathan's suggestions
  solutions/cses-1195.mdx
Owners: none

it should work now
  solutions/cses-1195.mdx
Owners: none

Update Custom_Cpp_STL.mdx
  content/3_Silver/Custom_Cpp_STL.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

bro just test this i swear it works
  solutions/cf-1593A.mdx
Owners: none

sorry nathan
  solutions/cses-1195.mdx
Owners: none

polymorphism
  solutions/cses-1195.mdx
Owners: none

more camelcase conversions
  solutions/cses-1195.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

changes
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update content/3_Silver/Prefix_Sums.mdx
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

sansification
  solutions/ceoi-09-Harbingers.mdx
Owners: none

Add C++ Solution
  solutions/usaco-491.mdx
Owners: none

Fix minor typo
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update DFS.problems.json
  content/3_Silver/DFS.problems.json
Owners: @frodakcin, @HarryWangATX, @nwatx

Add C++/Python solution for DMOJ Rank (Silver)
  solutions/dmoj-rank
Owners: none

add newline at end of output
  solutions/dmoj-rank
Owners: none

zero-indexed
  solutions/dmoj-rank
Owners: none

extend explanation
  solutions/dmoj-rank
Owners: none

spelling
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

blank lines
  solutions/cf-1593A.mdx
Owners: none

remove spaces to align comments
  solutions/cf-1593A.mdx
Owners: none

Added Quiz Header
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

blank lines
  solutions/cf-718C.mdx
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
