Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

Update Data_Types.mdx
  content/1_General/Data_Types.mdx
Owners: @thecodingwizard

Update usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

Update usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

Update cses-1132.mdx
  solutions/cses-1132.mdx
Owners: none

unfortunate
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update Data_Types.mdx
  content/1_General/Data_Types.mdx
Owners: @thecodingwizard

Internal java sol for fine dining
  content/4_Gold/Shortest_Paths.problems.json
  solutions/usaco-861.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update time complexity
  solutions/usaco-861.mdx
Owners: none

Changes to the Last Question
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Fixed Build
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Fixed Code
  solutions/usaco-624.mdx
Owners: none

Spelling
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Spelling
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Syntax
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

sans suggestions
  solutions/cf-862B.mdx
Owners: none

Update cf-862B.mdx
  solutions/cf-862B.mdx
Owners: none

ternary statment
  solutions/cf-862B.mdx
Owners: none

Add cpp solution for usaco-918
  solutions/usaco-918.mdx
Owners: none

Reformatted Java Solution
  solutions/usaco-624.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

Update usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

Update usaco-760.mdx
  solutions/usaco-760.mdx
Owners: none

Changed Problem Id
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

latex
  solutions/cfgym-102694C.mdx
Owners: none

latex 2
  solutions/cfgym-102694C.mdx
Owners: none

whitespace stuff
  solutions/usaco-918.mdx
Owners: none

Wrap in braces
  solutions/usaco-861.mdx
Owners: none

Update solutions/usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

Update solutions/usaco-1011.mdx
  solutions/usaco-1011.mdx
Owners: none

revise general section
  content/1_General/Adding_Solution.mdx
  content/1_General/Cpp_Command.mdx
  content/1_General/Running_Code_Locally.mdx
Owners: @thecodingwizard

Update Running_Code_Locally.mdx
  content/1_General/Running_Code_Locally.mdx
Owners: @thecodingwizard

cut most of windows section
  content/1_General/Cpp_Command.mdx
Owners: @thecodingwizard

nathang suggestions
  solutions/cf-862B.mdx
Owners: none

remove unnecessary long long conversion
  solutions/cf-862B.mdx
Owners: none

Make array of constant length
  solutions/usaco-918.mdx
Owners: none

Update authors.ts
  content/authors/authors.ts
Owners: none

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin
