Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

some
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

body
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

once
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

told
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

Added MAXN
  solutions/cf-718C.mdx
Owners: none

Formatting Changes
  solutions/cf-888G.mdx
Owners: none

Apply suggestions from code review
  solutions/cf-963D.mdx
Owners: none

Update content/3_Silver/Flood_Fill.mdx
  content/3_Silver/Flood_Fill.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

feat: allow admins to view all groups
  gatsby-browser.tsx
  src/components/Groups/GroupSelectPage/AdminViewAllGroups.tsx
  src/components/Groups/GroupSelectPage/GroupSelectPage.tsx
Owners: @thecodingwizard

add translation again
  content/4_Gold/LIS.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Added Comma
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

fix: load correct css file
  gatsby-browser.tsx
Owners: none

feat: allow admins to view all groups (#2320)
  src/components/Groups/GroupSelectPage/AdminViewAllGroups.tsx
  src/components/Groups/GroupSelectPage/GroupSelectPage.tsx
Owners: @thecodingwizard

Update content/3_Silver/DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

sure why not
  content/4_Gold/LIS.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update solutions/usaco-696.mdx
  solutions/usaco-696.mdx
Owners: none

Update solutions/usaco-696.mdx
  solutions/usaco-696.mdx
Owners: none

grammar edit
  solutions/usaco-696.mdx
Owners: none

Update Intro_Sets.mdx
  content/2_Bronze/Intro_Sets.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Added new mobile nav bar
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

add java implementation
  solutions/dmoj-Phidias.mdx
Owners: none

kattio
  solutions/dmoj-Phidias.mdx
Owners: none

Add java sol to time is mooney
  content/4_Gold/Intro_DP.problems.json
  solutions/usaco-993.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Fixed navbar hovers
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Add spaces between operations
  solutions/usaco-993.mdx
Owners: none

Fixed padding on problems
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

solution for cf rectangles
  content/4_Gold/Stacks.problems.json
  solutions/cfgym-101102D.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

fix cppsection closing tag
  solutions/cfgym-101102D.mdx
Owners: none

Update solutions/cfgym-101102D.mdx
  solutions/cfgym-101102D.mdx
Owners: none

Update solutions/dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update solutions/dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update solutions/dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update solutions/dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update solutions/cfgym-101102D.mdx
  solutions/cfgym-101102D.mdx
Owners: none

code suggestions & fixes
  solutions/cfgym-101102D.mdx
Owners: none

Fixed light mode and hover colors
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Added links to sections and external link to resources
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Fixed Gatsby links
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Fixed Gatsby links
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

change icon color on hover
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard
