Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-917.mdx
  solutions/usaco-917.mdx
Owners: none

Add C++ solution
  solutions/cses-2428.mdx
Owners: none

Add C++ solution to CSES 2428
  solutions/cses-2428.mdx
Owners: none

Add name (comments)
  solutions/cses-2428.mdx
Owners: none

Adapt to code conventions
  solutions/cses-2428.mdx
Owners: none

changed to alternate solution :)
  solutions/usaco-1206.mdx
Owners: none

updated tags
  content/3_Silver/DFS.problems.json
Owners: @HarryWangATX, @nwatx

remove scc tag
  content/3_Silver/DFS.problems.json
Owners: @HarryWangATX, @nwatx

format
  solutions/usaco-1206.mdx
Owners: none

tried to address some issues
  content/3_Silver/More_Prefix_Sums.mdx
  content/3_Silver/More_Prefix_Sums.problems.json
  solutions/cses-1163.mdx
  solutions/usaco-1063.mdx
Owners: @HarryWangATX, @nwatx

bruh
  content/3_Silver/Sorting_Custom.problems.json
Owners: @HarryWangATX, @nwatx

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

Update usaco-1206.mdx
  solutions/usaco-1206.mdx
Owners: none

blank lines
  solutions/usaco-1063.mdx
Owners: none

format changes
  solutions/usaco-894.mdx
Owners: none

spaces to tabs
  solutions/usaco-894.mdx
Owners: none

remove promo
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Explanation added
  solutions/ac-MultipleOf2019.mdx
Owners: none

Create usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update Conclusion.problems.json
  content/2_Bronze/Conclusion.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

oop
  content/2_Bronze/Conclusion.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Conclusion.problems.json
  content/2_Bronze/Conclusion.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

repi orzies
  solutions/usaco-1181.mdx
Owners: none

Update solutions/usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update solutions/usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update solutions/usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

thanks for fixing my engrish :blobheart:
  solutions/usaco-1181.mdx
Owners: none

redid the comments & whitespace
  solutions/usaco-1181.mdx
Owners: none

forgot a space
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update solutions/usaco-1063.mdx
  solutions/usaco-1063.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none

Update usaco-1181.mdx
  solutions/usaco-1181.mdx
Owners: none
