Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva

update cses-1631.mdx
  solutions/cses-1631.mdx
Owners: none

Merge branch 'master' of https://github.com/topshenyi-web/usaco-guide
  package-lock.json
  src/components/MarkdownLayout/MarkdownLayout.tsx
  src/components/markdown/Quiz.tsx
  src/pages/groups.tsx
  tsconfig.json
  yarn.lock
Owners: @thecodingwizard

update cses-1631.mdx
  solutions/cses-1631.mdx
Owners: none

revert
  content/4_Gold/LIS.mdx
Owners: @dongliu0426, @andrewwangva

fix QuizAnswerExplanation typing
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

fix typing again
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

storyboard fix?
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

Add Python Solution to CSES Multiplication Tables
  solutions/cses-2422.mdx
Owners: none

Update solutions/usaco-767.mdx
  solutions/usaco-767.mdx
Owners: none

Update solutions/usaco-767.mdx
  solutions/usaco-767.mdx
Owners: none

Update cses-2422.mdx
  solutions/cses-2422.mdx
Owners: none

Update usaco-991.mdx
  solutions/usaco-991.mdx
Owners: none

Update usaco-916.mdx
  solutions/usaco-916.mdx
Owners: none

Update usaco-1084.mdx
  solutions/usaco-1084.mdx
Owners: none

merge batches; single query
  src/components/Groups/GroupPage/PostExportModal.tsx
Owners: @thecodingwizard

add python and cpp solution for herdle, 1179
  content/2_Bronze/Simulation.problems.json
  solutions/usaco-1179.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none

Update Simulation.problems.json
  content/2_Bronze/Simulation.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update solutions/usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update solutions/usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update solutions/usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

Update usaco-1084.mdx
  solutions/usaco-1084.mdx
Owners: none

Skip question functionality, display all answers if correct answer is chosen, and can't change choice once correct answer is clicked
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

revert groups.tsx
  src/pages/groups.tsx
Owners: @thecodingwizard

remove console.log
  src/components/markdown/Quiz.tsx
Owners: @thecodingwizard

Update usaco-1179.mdx
  solutions/usaco-1179.mdx
Owners: none

add solutions for ski course design (376)
  content/extraProblems.json
  solutions/usaco-376.mdx
Owners: none

Update usaco-376.mdx
  solutions/usaco-376.mdx
Owners: none

Update Contest_Strategy.mdx
  content/1_General/Contest_Strategy.mdx
Owners: @thecodingwizard

Create usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update usaco-1040.mdx
  solutions/usaco-1040.mdx
Owners: none

Update extraProblems.json
  content/extraProblems.json
Owners: none
