Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

remove languages from authors
  solutions/usaco-1038.mdx
Owners: none

Update DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update usaco-715.mdx
  solutions/usaco-715.mdx
Owners: none

fixed bracket notation and
  solutions/apio-10-Commando.mdx
Owners: none

downgrade react-markdown
  package.json
  yarn.lock
Owners: none

fix typescript error
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Update solutions/cf-1398C.mdx
  solutions/cf-1398C.mdx
Owners: none

Update cf-1398C.mdx
  solutions/cf-1398C.mdx
Owners: none

Update Intro_Sorting.mdx
  content/2_Bronze/Intro_Sorting.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Divisibility.mdx
  content/4_Gold/Divisibility.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update usaco-1107.mdx
  solutions/usaco-1107.mdx
Owners: none

Update usaco-1107.mdx
  solutions/usaco-1107.mdx
Owners: none

Update usaco-1107.mdx
  solutions/usaco-1107.mdx
Owners: none

Create PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update solutions/usaco-810.mdx
  solutions/usaco-810.mdx
Owners: none

fIxEd CaPiTaLiZaTiOn
  content/6_Advanced/Count_Min.mdx
Owners: @dolphingarlic, @frodakcin

Added solution
  solutions/cf-963D.mdx
Owners: none

updated JSON file
  content/6_Advanced/String_Search.problems.json
Owners: @dolphingarlic, @frodakcin

update solution
  solutions/cses-1757.mdx
Owners: none

whitespace issues
  solutions/cses-1757.mdx
Owners: none

remove page
  src/pages/index.tsx
  src/pages/usaco-faq.tsx
Owners: @thecodingwizard

Update Conclusion.mdx
  content/2_Bronze/Conclusion.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Conclusion.mdx
  content/3_Silver/Conclusion.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update Conclusion.mdx
  content/4_Gold/Conclusion.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Update Conclusion.mdx
  content/5_Plat/Conclusion.mdx
Owners: @dolphingarlic, @frodakcin

Update Intro_CP.mdx
  content/1_General/Intro_CP.mdx
Owners: @thecodingwizard

Update Faq.problems.json
  content/1_General/Faq.problems.json
Owners: @thecodingwizard

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

Update cf-963D.mdx
  solutions/cf-963D.mdx
Owners: none

Update cses-1757.mdx
  solutions/cses-1757.mdx
Owners: none

Update usaco-940.mdx
  solutions/usaco-940.mdx
Owners: none

Add formulas to Rectangle Geometry
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Think this qualifies as enough changes for author-if not, please revert
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Add suggestions
  content/2_Bronze/Rect_Geo.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

add egoi workshop banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: @thecodingwizard

Change tabs to spaces
  solutions/usaco-808.mdx
Owners: none

Undo test fix
  src/components/Groups/SafeMarkdownRenderer.tsx
  src/components/markdown/HTMLComponents.tsx
Owners: @thecodingwizard

Add java solution for circlecross
  solutions/usaco-719.mdx
Owners: none

Change kind to internal
  content/4_Gold/PURS.problems.json
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Tabs v spaces
  solutions/usaco-808.mdx
Owners: none
