Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update usaco-858.mdx
  solutions/usaco-858.mdx
Owners: none

spaces around operators
  solutions/cses-1139.mdx
Owners: none

Use div to resize images
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Converted cpp solution to tabs
  solutions/usaco-858.mdx
Owners: none

Decrease image resolution
  content/2_Bronze/assets/graphs_quiz_1.png
  content/2_Bronze/assets/graphs_quiz_2.png
  content/2_Bronze/assets/graphs_quiz_3.png
  content/2_Bronze/assets/graphs_quiz_4.png
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

coverted to tabs
  solutions/usaco-380.mdx
Owners: none

Update usaco-838.mdx
  solutions/usaco-838.mdx
Owners: none

Update solutions/usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Update solutions/usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Update solutions/usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Update usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Update usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Update solutions/usaco-920.mdx
  solutions/usaco-920.mdx
Owners: none

Change HashSet to booleans
  solutions/usaco-988.mdx
Owners: none

Add link to prob solution for Photoshoot
  content/2_Bronze/Complete_Rec.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

format code
  solutions/usaco-838.mdx
Owners: none

space after `if`
  solutions/usaco-988.mdx
Owners: none

tiny whitespace changes
  solutions/usaco-380.mdx
Owners: none

Update usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Update Intro_Greedy.mdx
  content/2_Bronze/Intro_Greedy.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update solutions/usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Update solutions/usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Update solutions/usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Update usaco-988.mdx
  solutions/usaco-988.mdx
Owners: none

Remove divs
  content/2_Bronze/Intro_Graphs.mdx
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update corrupted picture
  content/2_Bronze/assets/graphs_quiz_2.png
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

add a space...
  solutions/usaco-696.mdx
Owners: none

Apply suggestions from code review
  solutions/dmoj-Phidias.mdx
Owners: none

Update dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update solutions/usaco-380.mdx
  solutions/usaco-380.mdx
Owners: none

Update dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

sans time
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

Update dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Added to contributors list
  solutions/usaco-1061.mdx
Owners: none
