Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @bqi343, @eysbutno, @guodavid0418, @envyaims

Remove ekzlib link from resources section
  content/1_General/Resources_CP.mdx
Owners: @bqi343

correct tc
  solutions/bronze/cses-1640.mdx
Owners: @eysbutno, @guodavid0418

add header
  solutions/bronze/usaco-1107.mdx
Owners: @eysbutno, @guodavid0418

add header
  solutions/bronze/ac-MadeUp.mdx
Owners: @eysbutno, @guodavid0418

...
  solutions/bronze/usaco-667.mdx
Owners: @eysbutno, @guodavid0418

Update usaco-1090.mdx
  solutions/gold/usaco-1090.mdx
Owners: @envyaims

Update usaco-1017.mdx
  solutions/gold/usaco-1017.mdx
Owners: @envyaims

update c++ code
  solutions/silver/usaco-595.mdx
Owners: @eysbutno, @guodavid0418

add java code
  solutions/silver/usaco-595.mdx
Owners: @eysbutno, @guodavid0418

add python code
  solutions/silver/usaco-595.mdx
Owners: @eysbutno, @guodavid0418

Create cf-755C.mdx
  solutions/silver/cf-755C.mdx
Owners: @eysbutno, @guodavid0418

Update Intro_Tree.problems.json
  content/3_Silver/Intro_Tree.problems.json
Owners: @eysbutno, @guodavid0418

usaco 572 solution
  solutions/silver/usaco-572.mdx
Owners: @eysbutno, @guodavid0418

quick typo fix
  solutions/silver/usaco-572.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/usaco-572.mdx
  solutions/silver/usaco-572.mdx
Owners: @eysbutno, @guodavid0418

problem writer banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: none

Update solutions/silver/usaco-572.mdx
  solutions/silver/usaco-572.mdx
Owners: @eysbutno, @guodavid0418

Add link to official editorial in cf-755C.mdx
  solutions/silver/cf-755C.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/cf-755C.mdx
  solutions/silver/cf-755C.mdx
Owners: @eysbutno, @guodavid0418

Update cf-755C.mdx
  solutions/silver/cf-755C.mdx
Owners: @eysbutno, @guodavid0418

fixed edi link
  solutions/silver/cf-755C.mdx
Owners: @eysbutno, @guodavid0418

Fix dead Kattis links
  content/6_Advanced/Eulers_Formula.problems.json
  content/6_Advanced/LineContainer.problems.json
Owners: @bqi343

Update solutions/silver/usaco-763.mdx
  solutions/silver/usaco-763.mdx
Owners: @eysbutno, @guodavid0418

remove ext euclidean algo impl
  solutions/gold/sumdiv.mdx
Owners: @envyaims

Remove redundant visited vector from c++ solution
  solutions/gold/usaco-969.mdx
Owners: @envyaims

fix problem title
  content/4_Gold/Modular.problems.json
  solutions/gold/sumdiv.mdx
Owners: @envyaims

remove use of center
  solutions/gold/sumdiv.mdx
Owners: @envyaims

remove inverse
  solutions/gold/sumdiv.mdx
Owners: @envyaims

maze tac toe
  content/3_Silver/Flood_Fill.problems.json
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

cf 818F python
  solutions/silver/cf-818F.mdx
Owners: @eysbutno, @guodavid0418

fix latex error
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

fix python section
  solutions/silver/cf-818F.mdx
Owners: @eysbutno, @guodavid0418

fix mdx
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/usaco-1134.mdx
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

Update solutions/silver/usaco-1134.mdx
  solutions/silver/usaco-1134.mdx
Owners: @eysbutno, @guodavid0418

Fix minor bug in standard BCC code
  content/6_Advanced/BCC_2CC.mdx
Owners: @bqi343

IOI Team Workshop Banner
  src/components/TopNavigationBar/TopNavigationBar.tsx
Owners: none

java sol
  solutions/bronze/usaco-916.mdx
Owners: @eysbutno, @guodavid0418

py sol
  solutions/bronze/usaco-916.mdx
Owners: @eysbutno, @guodavid0418

formatting
  solutions/bronze/usaco-916.mdx
Owners: @eysbutno, @guodavid0418

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/content/ @bqi343
/solutions/ @bqi343
/content/1_General/ @bqi343
/solutions/general/ @bqi343
/content/2_Bronze/ @eysbutno @guodavid0418
/solutions/bronze/ @eysbutno @guodavid0418
/content/3_Silver/ @eysbutno @guodavid0418
/solutions/silver/ @eysbutno @guodavid0418
/content/4_Gold/ @envyaims
/solutions/gold/ @envyaims
/content/5_Plat/ @bqi343
/solutions/platinum/ @bqi343
/content/6_Advanced/ @bqi343
/solutions/advanced/ @bqi343
/content/extraProblems.json @envyaims
/content/team/ @eysbutno
