Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @HarryWangATX, @nwatx, @dongliu0426, @andrewwangva

counting liars good problem!!
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update Intro_Complete.problems.json
  content/2_Bronze/Intro_Complete.problems.json
Owners: @darren-yao, @maggie-j-liu, @SansPapyrus683

Update usaco-1228
  solutions/usaco-1228
Owners: none

grass planting sans
  solutions/usaco-894.mdx
Owners: none

Update solutions/usaco-1228
  solutions/usaco-1228
Owners: none

Update usaco-1228
  solutions/usaco-1228
Owners: none

whitespace + comments
  solutions/usaco-1228
Owners: none

oops
  solutions/usaco-1228
Owners: none

last one i promise
  solutions/usaco-1228
Owners: none

latex
  solutions/usaco-1228
Owners: none

python
  solutions/usaco-894.mdx
Owners: none

creditted myself
  solutions/usaco-894.mdx
Owners: none

Update content/5_Plat/Sweep_Line.mdx
  content/5_Plat/Sweep_Line.mdx
Owners: none

Update Sweep_Line.mdx
  content/5_Plat/Sweep_Line.mdx
Owners: none

Java Solution added
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Java Solution for AC GCD on Blackboard
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update solutions/ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

fix indents
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Fixed Tabs
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

Update solutions/usaco-894.mdx
  solutions/usaco-894.mdx
Owners: none

comments
  solutions/usaco-894.mdx
Owners: none

Update Sweep_Line.mdx
  content/5_Plat/Sweep_Line.mdx
Owners: none

Apply suggestions from code review
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

fix: update linked providers UI after linking accounts
  src/components/SignInModal.tsx
  src/context/UserDataContext/UserDataContext.tsx
Owners: @thecodingwizard

Update ac-GCDOnBlackboard.mdx
  solutions/ac-GCDOnBlackboard.mdx
Owners: none

update Nathan's UID
  src/functions/src/cpiclasses/utils/permissions.ts
  src/functions/src/setUserClaims.ts
Owners: @thecodingwizard

Update usaco-894.mdx
  solutions/usaco-894.mdx
Owners: none

Rename usaco-1228 to usaco-1228.mdx
  solutions/usaco-1228.mdx
Owners: none

Create usaco-767.mdx
  solutions/usaco-767.mdx
Owners: none

Update Sliding_Window.problems.json
  content/4_Gold/Sliding_Window.problems.json
Owners: @dongliu0426, @andrewwangva

format
  solutions/usaco-767.mdx
Owners: none

stuff
  solutions/usaco-767.mdx
Owners: none

Update usaco-526.mdx
  solutions/usaco-526.mdx
Owners: none

add c++ solution for team building (plat)
  solutions/usaco-673.mdx
Owners: none

update metadata
  content/4_Gold/Intro_DP.problems.json
Owners: @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @HarryWangATX @nwatx
/content/4_Gold/ @dongliu0426 @andrewwangva
