Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

did the rest of binsearch
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

spaces around `+`
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

tabs
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

shortened a line
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Oops variable names
  solutions/usaco-808.mdx
Owners: none

spaces
  solutions/usaco-808.mdx
Owners: none

Update solutions/usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update solutions/dmoj-Phidias.mdx
  solutions/dmoj-Phidias.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

tiny changes
  solutions/usaco-808.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

did some pretty big changes
  content/3_Silver/Binary_Search.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

Update MST.mdx
  content/4_Gold/MST.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

test fix
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

console log test
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

more console logs
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Update cses-2101.mdx
  solutions/cses-2101.mdx
Owners: none

Update solutions/cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update cses-1625.mdx
  solutions/cses-1625.mdx
Owners: none

Update usaco-810.mdx
  solutions/usaco-810.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update solutions/usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update solutions/usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Update usaco-808.mdx
  solutions/usaco-808.mdx
Owners: none

Cont
  src/components/NotesEditor.tsx
  src/components/TakeProblemNotesModal.tsx
  src/components/markdown/ProblemsList/ProblemsList.tsx
  src/context/UserDataContext/properties/userNotesOnProblems.ts
Owners: @thecodingwizard

Changes
  src/components/NotesEditor.tsx
  src/components/TakeProblemNotesModal.tsx
  src/components/markdown/ProblemsList/ProblemsList.tsx
  src/context/UserDataContext/properties/userNotesOnProblems.ts
Owners: @thecodingwizard

Troubleshooting
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

More troubleshooting
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Fix error
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Fix syntax highlighting
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Fix code render error
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

troubleshooting x3
  src/components/Groups/SafeMarkdownRenderer.tsx
Owners: @thecodingwizard

Create apio-10-commando.mdx
  solutions/apio-10-commando.mdx
Owners: none

Update Convex_Hull_Trick.problems.json
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin
