Repository cpinitiative/usaco-guide, changes with the owners that CODEOWNERS names for each.
All owners: @thecodingwizard, @darren-yao, @maggie-j-liu, @SansPapyrus683, @frodakcin, @HarryWangATX, @nwatx, @dolphingarlic, @dongliu0426, @andrewwangva

CODEOWNERS:

# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

/src/ @thecodingwizard
/content/1_General/ @thecodingwizard
/content/2_Bronze/ @darren-yao @maggie-j-liu @SansPapyrus683
/content/3_Silver/ @frodakcin @HarryWangATX @nwatx
/content/4_Gold/ @dolphingarlic @dongliu0426 @andrewwangva
/content/5_Plat/ @dolphingarlic @frodakcin
/content/6_Advanced/ @dolphingarlic @frodakcin

format header
  solutions/cf-718C.mdx
Owners: none

return none instead of 0
  solutions/dmoj-rank
Owners: none

remove double check for vis
  solutions/dmoj-rank
Owners: none

Fixed the code
  solutions/usaco-491.mdx
Owners: none

Update solutions/cf-1593A.mdx
  solutions/cf-1593A.mdx
Owners: none

Apply suggestions from code review
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Minor Changes
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Rename dmoj-rank to dmoj-rank.mdx
  solutions/dmoj-rank.mdx
Owners: none

fix: add debugging info to firebase functions
  src/functions/package-lock.json
  src/functions/src/cpiclasses/processRegistration.ts
  src/functions/src/cpiclasses/utils/updateMailingList.ts
Owners: @thecodingwizard

Update content/3_Silver/DFS.mdx
  content/3_Silver/DFS.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx

reverted some changes
  content/5_Plat/Convex_Hull_Trick.problems.json
Owners: @dolphingarlic, @frodakcin

grammar
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

Added \dots
  solutions/ceoi-04-TwoSawmills.mdx
Owners: none

Changed Problem Metadata in DnQ module
  content/5_Plat/DC-DP.problems.json
Owners: @dolphingarlic, @frodakcin

Sansification
  content/6_Advanced/Segtree_Beats.mdx
Owners: @dolphingarlic, @frodakcin

create solution for cf sloth naptime
  solutions/cfgym-102694C.mdx
Owners: none

change to internal for codeforces sloth naptime
  content/5_Plat/Binary_Jump.problems.json
Owners: @dolphingarlic, @frodakcin

add translation
  content/4_Gold/LIS.mdx
Owners: @dolphingarlic, @dongliu0426, @andrewwangva

Prettified Code!
  src/functions/src/cpiclasses/processRegistration.ts
  src/functions/src/cpiclasses/utils/updateMailingList.ts
Owners: @thecodingwizard

whitespace crap
  solutions/cfgym-102694C.mdx
Owners: none

fix LanguageSection
  content/6_Advanced/Treaps.mdx
Owners: @dolphingarlic, @frodakcin

metadata
  content/3_Silver/DFS.problems.json
Owners: @frodakcin, @HarryWangATX, @nwatx

Add C++/Java Solution to Bipartiteness (Silver)
  solutions/cf-862B.mdx
Owners: none

put codesnip in right spot
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

path variable names
  solutions/cfgym-102694C.mdx
Owners: none

remove nesting
  solutions/cfgym-102694C.mdx
Owners: none

ugh
  solutions/cfgym-102694C.mdx
Owners: none

java 0 index
  solutions/cfgym-102694C.mdx
Owners: none

cpp index 0
  solutions/cfgym-102694C.mdx
Owners: none

Update cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

whitespace stuff
  solutions/cfgym-102694C.mdx
Owners: none

suggestions
  solutions/cf-862B.mdx
Owners: none

whitespace
  solutions/cfgym-102694C.mdx
Owners: none

latex stuff
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update solutions/cfgym-102694C.mdx
  solutions/cfgym-102694C.mdx
Owners: none

Update content/3_Silver/Prefix_Sums.mdx
  content/3_Silver/Prefix_Sums.mdx
Owners: @frodakcin, @HarryWangATX, @nwatx
